<div class="alert alert-dark p-4">
  <h1>Bienvenido a la aplicación de ejemplo</h1>

  {{#if user}}
    Bienvenido
    {{user.name}}
    <ul>
      {{#if user.age}}
        <li> {{user.age}} </li>
      {{/if}}

      {{#if user.email}}
        <li> {{user.email}} </li>
      {{/if}}

       {{#if user.location}}
        <li> {{user.location}} </li>
      {{/if}}

       {{#if user.company}}
        <li> {{user.company}} </li>
      {{/if}}

        {{#if user.url}}
        <li> <a href='{{user.url}}'> Ver GitHub </a> </li>
      {{/if}}

       {{#if user.instagram}}
        <li> <a href='{{user.instagram}}'> Ver Instagram </a> </li>
      {{/if}}

    </ul>
    {{else}}
      <a href="/login" class="btn btn-primary"> Loguearse </a>
  {{/if}}
  <div>
    <a href="/logout" class="btn btn-primary">Cerrar Sesion</a>
  </div>
  <div>
    <a href="/" class="btn btn-success">Inicio</a>
  </div>
</div>