<div class="alert alert-dark p-4 text-black">
  <h1>Bienvenido a la aplicación de ejemplo</h1>

  {{#if user}}
    Bienvenido {{user.role}}
    <ul>
      {{#if user.first_name}}
        <li> Nombre: {{user.first_name}} </li>
      {{/if}}

      {{#if user.last_name}}
        <li> Apellido: {{user.last_name}} </li>
      {{/if}}

      {{#if user.age}}
        <li> Edad: {{user.age}} </li>
      {{/if}}

      {{#if user.email}}
        <li> Email: {{user.email}} </li>
      {{/if}}

       {{#if user.location}}
        <li> {{user.location}} </li>
      {{/if}}

       {{#if user.company}}
        <li> {{user.company}} </li>
      {{/if}}

        {{#if user.url}}
        <li> <a href='{{user.url}}'> Ver GitHub </a> </li>
      {{/if}}

       {{#if user.instagram}}
        <li> <a href='{{user.instagram}}'> Ver Instagram </a> </li>
      {{/if}}

    </ul>
    {{else}}
      <a href="/login" class="btn btn-primary"> Loguearse </a>
  {{/if}}
  <div>
    <a href="/logout" class="btn btn-danger btn-sm">Cerrar Sesion</a>
  </div>
  <div>
    <a href="/" class="btn btn-info btn-sm mt-2">Inicio</a>
  </div>
</div>